.btn-primary {
  color: #fff;
  background-color: #0D4470;
  border-color: #0d6efd;
}

.h5, h5 {
  font-family:  'Pathway Gothic One', sans-serif;
  font-size: 1.375rem;
}

.card {
  background-color: #EFEFEF;
  margin: 15px;
  border-radius: 10px;
  border: none;

}